.Form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 10px
}

.Error {
    color: #FF0000;
    text-align: center;
}

.Input {
    width: 100%;
}

.Link:hover {
    text-decoration: underline;
}

.Submit {
    margin-top: 10px !important;
    width: 100%;
}

.Forgot {
    text-align: center;
    margin-top: 10px;
}

.Change {
    text-align: center;
    margin-top: 10px;
}